<div class="main__breadcrumbs">

  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a [routerLink]="['/']" class="breadcrumbs__link">
        Dashboard
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a [routerLink]="['/settings']" class="breadcrumbs__link is-active">
        Settings
      </a>
    </li>
  </ul>
</div>
<div class="main__content">
  <div class="simple-card">
    <div class="simple-card__inner">
      <div class="simple-card__body">
        <div class="simple-card__profile profile-upload">
          <div class="profile-upload__avatar-container">
            <img src="assets/images/em.jpg" alt="Em's profile picture" class="profile-upload__avatar">
          </div>
          <div class="profile-upload__action">
            <input class="profile-upload__upload-btn" type="file">
          </div>
        </div>
        <div class="simple-card__details">
          <div class="simple-card__details__inner">
            <div class="simple-card__details__item">
              <div class="form">
                <div class="form__header">
                  <div class="form__title">
                    Password
                  </div>
                </div>
                <div class="form__body">
                  <div class="form__item">
                    <div class="form__control">
                      <input type="text" class="form__input input" placeholder="Old Password">
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__control">
                      <input type="text" class="form__input input" placeholder="New Password">
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__control">
                      <input type="text" class="form__input input" placeholder="Confirm Password">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="simple-card__details__item">
              <div class="form">
                <div class="form__header">
                  <div class="form__title">
                    Name
                  </div>
                </div>
                <div class="form__body">
                  <div class="form__item">
                    <div class="form__control">
                      <input type="text" class="form__input input" placeholder="First Name">
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__control">
                      <input type="text" class="form__input input" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__control">
                      <input type="text" class="form__input input" placeholder="Position">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="simple-card__footer">
        <div class="simple-card__action">
          <div class="simple-card__action__item">
            <button class="btn">Save</button>
          </div>
          <div class="simple-card__action__item">
            <button class="btn btn--cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
