html {
  -webkit-font-smoothing: antialiased;
  height: auto;
}

body {
	-webkit-text-size-adjust: 100%;
	height: auto;
	font-family: $font-family;
	font-size: $font-size;
	line-height: 1.4;
	color: $font-color;
	background-color: $body-bg-color;
}