.avatar {
	display: block;
	border: 1px solid $avatar-border-color;
	border-radius: 50%;
	overflow: hidden;
	transition: border-color .15s linear;

	&--small {
		width: 48px;
		height: 48px;
	}

	&--xsmall {
		width: 36px;
		height: 36px;
	}

	&--alt {
		border: 3px solid $avatar--alt-border-color;
	}
}