.breadcrumbs {
	@include list-unstyled();
	display: flex;

	&__item {
		flex-shrink: 0;
		
		&:not(:last-child) {
			position: relative;
			margin-right: 16px;
			padding-right: 16px;
			
			&::after {
				position: absolute;
				top: 0;
				right: -8px;
				transform: translateX(-50%);
				content: ">";
			}
		}
	}

	&__link {
		font-size: 18px;
		text-decoration: none;
		color: $breadcrumbs-font-color;

		&.is-active {
			font-weight: 700;
		}
	}
}