.btn {
	display: inline-block;
	min-width: 120px;
	padding: 12px 20px;
	border: 0;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	background-color: $btn-bg-default-bg-color;
	color: $font-color-light;
	transition: background-color .15s linear;

	&:focus {
		outline: 0;
	}

	&:hover {
		background-color: lighten($btn-bg-default-bg-color, 5%);
		cursor: pointer;
	}

	&--login {
		min-width: 160px;
		border-radius: 4px;
		font-size: 18px;
		background-color: $btn-bg-login-bg-color;
		transition: background-color .15s linear;

		&:hover {
			background-color: $btn-bg-login-hover-bg-color;
		}
	}

	&--cancel {
		color: $font-color;
		background-color: $btn-bg-cancel-bg-color;

		&:hover {
			background-color: lighten($btn-bg-cancel-bg-color, 5%);
		}
	}

	&--delete {
		background-color: $btn-bg-delete-bg-color;

		&:hover {
			background-color: lighten($btn-bg-delete-bg-color, 5%);
		}
	}

	&--no-style {
		min-width: initial;
		padding: 0;
		background-color: transparent;

		&:hover {
			background-color: transparent;
		}
	}
}