.card {
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .5);

	&__body {
		@include linear-gradient(to left, #32485d, #009b90);
		position: relative;
		z-index: 1;
		height: 250px;
	}

	&__label {
		height: 90px;
	}

	&__category {
		position: absolute;
		left: 0;
		bottom: 28px;
		width: 100%;
		padding-left: 32px;
		padding-right: 32px;
	}

	&__footer {
		padding: 28px 32px;
	}

	&__title {
		font-size: 35px;
		font-weight: 700;
	}
}