.category {
	@include list-unstyled();

	&__item {
		display: flex;

		&:not(:first-child) {
			margin-top: 24px;
		}
	}

	&__icon {
		display: flex;
		flex-basis: 28px;
		flex-shrink: 0;
		justify-content: center;
	}

	&__details {
		flex-basis: 100%;
		margin-top: -4px;
		padding-left: 12px;
	}

	&__title,
	&__sub-title {
		display: block;
		color: $category-font-color;
	}

	&__title {
		font-size: 25px;
		font-weight: 700;
	}

	&__sub-title {
		margin-top: 4px;
		font-size: 17px;
	}
}