.icon {
	display: inline-block;
	background-repeat: no-repeat;

	&--live-view-white {
		width: 29px;
		height: 30px;
		background-image: url("~assets/icons/Live-View.png");
	}

	&--report-white {
		width: 41px;
		height: 41px;
		background-image: url("~assets/icons/Report.png");
	}

	&--settings-white {
		width: 40px;
		height: 40px;
		background-image: url("~assets/icons/Settings.png");
	}

	&--individual-view-white {
		width: 21px;
		height: 22px;
		background-image: url("~assets/icons/Individual-View.png");
	}

	&--graphical-white {
		width: 27px;
		height: 27px;
		background-image: url("~assets/icons/Graphical.png");
	}

	&--marker-white {
		width: 17px;
		height: 25px;
		background-image: url("~assets/icons/Map.png");
	}

	&--plus-white {
		width: 27px;
		height: 28px;
		background-image: url("~assets/icons/plus-icon.png");
	}

	&--live-view {
		width: 47px;
		height: 46px;
		background-image: url("~assets/icons/Live-View-Unhide.png");
	}

	&--report {
		width: 59px;
		height: 57px;
		background-image: url("~assets/icons/Report-View-Unhide.png");
	}

	&--average-road-time {
		width: 44px;
		height: 26px;
		background-image: url("~assets/icons/Average-Road-Time.png");
	}

	&--total-road-time {
		width: 40px;
		height: 40px;
		background-image: url("~assets/icons/Total-Road-Time.png");
	}

	&--graphical {
		width: 55px;
		height: 54px;
		background-image: url("~assets/icons/Graphical-Report.png");
	}

	&--marker {
		width: 34px;
		height: 50px;
		background-image: url("~assets/icons/Map-Report.png");
	}
} 