.individual {
	$this: individual;

	&__avatar-container {
		display: flex;
		justify-content: center;
	}

	&__name {
		margin-top: 4px;
		font-size: 10px;
		font-weight: 700;
		text-align: center;
		color: $font-color;
	}

	&.is-active,
	&:hover {
		.#{$this}__avatar {
			border-color: $individual-active-border-color;
		}
	}
}