.input {
	display: inline-block;
	padding: 8px;
	border: 0;
	border-bottom: 2px solid $input-border-color;
	font-family: $font-family;
	font-size: 13px;
	color: $font-color;
	transition: border-color .15s linear;

	&:focus {
		outline: 0;
		border-color: $input-focus-border-color;
	}
}