.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 370px;
	border-radius: 4px;
	background-color: $modal-bg-color;

	&__inner {
		padding: 52px 32px 32px;
	}

	&__logo-container {
		text-align: center;
	}

	&__logo {
		width: 100%;
		max-width: 256px;
	}

	&__body {
		margin-top: 36px;
	}

	&__title {
		font-size: 22px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		color: $font-color-dark;
	}

	&__form {
		margin-top: 40px;
	}

	&__input {
		display: block;
		width: 100%;
		padding: 12px 16px;
		border: 0;
		font-size: 18px;

		&:first-child {
			border-top: 2px solid $modal-input-border-color;
			border-right: 2px solid $modal-input-border-color;
			border-left: 2px solid $modal-input-border-color;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		&:last-child {
			border: 2px solid $modal-input-border-color;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}

	&__submit {
		display: flex;
		justify-content: center;
		margin-top: 32px;
	}

	&__footer {
		display: flex;
		margin-top: 40px;
	}

	&__remember-me,
	&__forgot-password {
		display: flex;
		align-items: center;
		font-size: 12px;
		font-weight: bold;
	}

	&__remember-me__checkbox {
		display: inline-block;
		margin-right: 8px;
		outline: 1px solid $modal-checkbox-border-color;
	}

	&__forgot-password {
		margin-left: auto;
	}
}