.navigation {
	display: flex;

	&-list {
		@include list-unstyled();
		display: flex;

		&__item {
			display: flex;
			position: relative;
			border-left: 1px solid $navigation-border-color;
		}

		&__link {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0 20px;
			font-size: 17px;
			text-decoration: none;
			color: $navigation-font-color;

			&:hover {
				+ .sub-navigation {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		&__avatar {
			display: inline-block;
			margin-right: 8px;
		}
	}
}