.profile-upload {

	&__avatar-container,
	&__action {
		display: flex;
		justify-content: center;
	}

	&__avatar {
		width: 99px;
		height: 99px;
		border-radius: 50%;
		background-color: $members-list-add-member-bg-color;
	}

	&__action {
		margin-top: 40px;
	}

	&__upload-btn {
		width: 160px;
	}
}