.simple-card {
	position: relative;

	&__header {
		display: flex;
		position: relative;
	    z-index: 1;
	    margin-bottom: -1px;
	}

	&__client-avatar {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -64px;
		left: 50%;
		padding: 4px;
		border: 1px solid $simple-card-border-color;
		border-radius: 50%;
		background-color: $body-bg-color-light;
		transform: translateX(-50%);
		overflow: hidden;
	}

	&__title,
	&__actions {
		padding: 12px;
		border-top: 1px solid $simple-card-border-color;
		border-left: 1px solid $simple-card-border-color;
		border-right: 1px solid $simple-card-border-color;
		background-color: $body-bg-color-light;
	}

	&__actions {
		display: flex;
		margin-left: auto;

		&__item {

			&:not(:first-child) {
				margin-left: 12px;
			}
		}
	}

	&__inner {
		position: relative;
		padding: 40px;
		border: 1px solid $simple-card-border-color;
		background-color: $body-bg-color-light;
	}

	&__body {
		display: flex;
	}

	&__profile {
		flex-basis: 180px;
		flex-shrink: 0;
	}

	&__details {
		flex-basis: 100%;
		padding-left: 60px;

		&__inner {
			display: flex;
			margin-left: -16px;
			margin-right: -16px;
		}

		&__item {
			flex-basis: 50%;
			padding-left: 16px;
			padding-right: 16px;
		}
	}

	&__footer {
		display: flex;
		margin-top: 72px;
	}

	&__action {
		display: flex;
		margin-left: auto;

		&__item {
			&:not(:first-child) {
				margin-left: 16px;
			}
		}
	}
}