.sub-navigation {
	position: absolute;
	top: 100%;
	right: 22px;
	z-index: 2;
	margin-top: 8px;
	visibility: hidden;
	opacity: 0;
	transition: all .15s linear;

	&::before,
	&::after {
		display: block;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
		height: 0;
		content: "";
	}

	&::before {
		z-index: 2;
		transform: translate(-50%, 1px);
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid $sub-navigation-arrow-bg-color;
	}

	&::after {
		z-index: 1;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid $sub-navigation-arrow-border-color;
	}

	&-list {
		border-radius: 4px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
		overflow: hidden;

		&__link {
			display: block;
			padding: 12px 24px;
			font-size: 14px;
			text-decoration: none;
			white-space: nowrap;
			color: $font-color;
			background-color: $sub-navigation-link-bg-color;
			transition: background-color .15s linear;

			&:hover {
				background-color: $sub-navigation-link-hover-bg-color;
			}

			.fa {
				margin-right: 8px;
			}
		}
	}
}