.team {
	$this: team;

	&__avatar-container {
		display: flex;
    	transform: translateX(12px);
	}

	&__avatar:nth-child(2) {
		transform: translateX(-50%);
	}

	&__name {
		margin-top: 4px;
		font-size: 10px;
		font-weight: 700;
		text-align: center;
		color: $font-color;
	}

	&.is-active,
	&:hover {
		.#{$this}__avatar {
			border-color: $individual-active-border-color;
		}
	}
}