Live View Default

<!-- <sebm-google-map *ngIf="users.length > 0" [(latitude)]="lat" [(longitude)]="lng" [zoom]="15">
  <sebm-google-map-polyline *ngFor="let user of users">
    <sebm-google-map-polyline-point *ngFor="let data of user.coordinates()"
      [(latitude)]="data.location.latitude" [(longitude)]="data.location.longitude">
    </sebm-google-map-polyline-point>
  </sebm-google-map-polyline>
</sebm-google-map>
 -->
