<ul class="sidebar__breadcrumbs breadcrumbs">
  <li class="breadcrumbs__item">
  <a [routerLink]="['/']" class="breadcrumbs__link">
      Dashboard
    </a>
  </li>
  <li class="breadcrumbs__item">
    <a [routerLink]="['/live-view']" class="breadcrumbs__link is-active">
      Live View
    </a>
  </li>
</ul>

<sidebar-team-component
  [(teams)]="teams" [url]="teamUrl">
</sidebar-team-component>

<sidebar-individual-component
  [(users)]="users" [url]="individualUrl">
</sidebar-individual-component>
