<div class="main__breadcrumbs">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a [routerLink]="['/']" class="breadcrumbs__link is-active">
        Dashboard
      </a>
    </li>
  </ul>

</div>
<div class="main__content">

  <ul class="dashboard__cards">
    <li class="dashboard__cards__item">
      <a class="dashboard__cards__link" [routerLink]="['/live-view']" >
        <div class="dashboard__card card">
          <div class="card__body">
            <ul class="card__category category">
              <li class="category__item">
                <span class="category__icon">
                  <span class="icon icon--individual-view-white"></span>
                </span>
                <div class="category__details">
                  <span class="category__title">
                    Individual View
                  </span>
                </div>
              </li>
              <li class="category__item">
                <span class="category__icon">
                  <span class="icon icon--individual-view-white"></span>
                </span>
                <div class="category__details">
                  <span class="category__title">
                    Team View
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="card__footer">
            <span class="card__title">
              Live View
            </span>
          </div>
        </div>
      </a>
    </li>
    <li class="dashboard__cards__item">
      <a class="dashboard__cards__link" [routerLink]="['/report']" >
        <div class="dashboard__card card">
          <div class="card__body">
            <ul class="card__category category">
              <li class="category__item">
                <span class="category__icon">
                  <span class="icon icon--graphical-white"></span>
                </span>
                <div class="category__details">
                  <span class="category__title">
                    Graphical
                  </span>
                  <span class="category__sub-title">
                    Individual<br>
                    Team
                  </span>
                </div>
              </li>
              <li class="category__item">
                <span class="category__icon">
                  <span class="icon icon--marker-white"></span>
                </span>
                <div class="category__details">
                  <span class="category__title">
                    Map
                  </span>
                  <span class="category__sub-title">
                    Individual<br>
                    Team
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="card__footer">
            <span class="card__title">
              Report
            </span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
