<fieldset [disabled]="formDisabled">
  <div class="login__wrapper">
    <div class="modal">
      <div class="modal__inner">
        <div class="modal__header">
          <div class="modal__logo-container">
            <img class="modal__logo" src="assets/images/Logo.png" alt="Geodrive">
          </div>
        </div>
        <div class="modal__body">
          <div class="modal__title">
            Login
          </div>
          <alert></alert>
          <div class="modal__form">
            <input type="email" class="modal__input" placeholder="Email" [(ngModel)]="email">
            <input type="password" class="modal__input" placeholder="Password" [(ngModel)]="password">
          </div>
          <div class="modal__submit">
            <button class="btn btn--login" (click)="login()">
              Verify
            </button>
          </div>
        </div>
        <div class="modal__footer">
          <div class="modal__remember-me">
            <input class="modal__remember-me__checkbox" type="checkbox">
            Remember Me
          </div>
          <div class="modal__forgot-password">
            Forgot Password
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
