<div class="sidebar__body__title">
  Team
</div>
<ul class="team-list">
  <li class="team-list__item" *ngFor="let team of teams">
    <a [routerLink]="[url, team.id]" class="team-list__link">
      <div class="team">
        <div class="team__avatar-container">
          <img src="assets/images/em.jpg" alt="Em's profile picture" class="team__avatar avatar avatar--small avatar--alt">
          <img src="assets/images/em.jpg" alt="Em's profile picture" class="team__avatar avatar avatar--small avatar--alt">
        </div>
        <div class="individual__name">
          {{team.name}}
        </div>
      </div>
    </a>
  </li>
</ul>
