<div class="sidebar__body__title">
  Individual
</div>
<ul class="individual-list">
  <li class="individual-list__item" *ngFor="let user of users">
    <a [routerLink]="[url, user.id]" class="individual-list__link">
      <div class="individual">
        <div class="individual__avatar-container">
          <img src="assets/images/em.jpg"
            class="individual__avatar avatar avatar--small avatar--alt"
            alt="Em's profile picture">
        </div>
        <div class="individual__name">
          {{ user.first_name }} {{ user.last_name }}
        </div>
      </div>
    </a>
  </li>
</ul>
