.dashboard {
	&__cards {
		@include list-unstyled();
		display: flex;

		&__item {
			display: flex;
			flex-basis: 50%;
			justify-content: center;
		}

		&__link {
			color: $font-color;
			text-decoration: none;
		}
	}

	&__card {
		width: 400px;
	}
}