.individual-list {
	@include list-unstyled($margin: 14px 0);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		display: flex;
		flex-basis: 33.3%;
		justify-content: center;
		padding-top: 6px;
		padding-bottom: 6px;
	}

	&__link {
		text-decoration: none;
	}
}