.main {
	&__inner {
		padding: 32px 52px;
	}

	&__content {
		margin-top: 32px;

		.simple-card:not(:first-child) {
			margin-top: 20px;
		}
	}

	&__breadcrumbs {
		display: flex;
	}

	&__actions {
		display: flex;
		margin-left: auto;

		&__item {
			&:not(:first-child) {
				margin-left: 16px;
			}
		}
	}

	&__search {
		width: 225px;
		height: 42px;
		padding: 8px;
		border: 1px solid $main-search-border-color;
		font-family: $font-family;
		font-size: 13px;
		color: $font-color;
		transition: border-color .15s linear;

		&:focus {
			outline: 0;
			border-color: $input-focus-border-color;
		}
	}
}