.members-list {
	@include list-unstyled($margin: -10px);
	display: flex;
	flex-wrap: wrap;

	&__item {
		padding: 20px;
		text-align: center;
	}

	&__link {
		display: flex;
		justify-content: center;
	}

	&__details {
		margin-top: 12px;
	}

	&__add-member {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 99px;
		height: 99px;
		border: 2px dashed $members-list-add-member-border-color;
		border-radius: 50%;
		background-color: $members-list-add-member-bg-color;
		transition: border-color .15s linear;

		&:hover {
			border-color: $individual-active-border-color;
		}
	}

	&__avatar {
		&:hover {
			border-color: $individual-active-border-color;
		}
	}

	&__name,
	&__posiiton {
		font-weight: 700;
	}

	&__name {
		font-size: 12px;
	}

	&__position {
		font-size: 10px;
	}
}