.report-details {

	&__item {
		&:not(:first-child) {
			margin-top: 24px;
			border-bottom: 1px solid $report-details-item-border-color;
		}
	}

	&__title {
		padding-bottom: 8px;
		font-size: 13px;
		font-weight: 700;
	}

	&__input {
		width: 100%;
	}

	&__body {
		margin-top: 16px;
		padding: 0 28px;

		&-title {
			font-size: 13px;
			font-weight: 700;
		}
	}

	&__list {
		@include list-unstyled($margin: 12px 0 0 0);

		&__item {

			&:not(:first-child) {
				margin-top: 12px;
			}
		}

		&__input {
			margin-right: 8px;
		}

		&__label {
			font-size: 12px;
		}
	}
}