.sidebar-navigation {
	@include list-unstyled();

	&__item {
		text-align: center;

		&:not(:first-child) {
			margin-top: 52px;
		}
	}

	&__link {
		display: inline-block;
		text-decoration: none;
	}

	&__label {
		display: block;
		margin-top: 16px;
		font-size: 12px;
		font-weight: 700;
		color: $sidebar-navigation-font-color;
	}
}