.sidebar {
	$this: sidebar;

	@include linear-gradient(top, #32485d, #009b90);
	position: relative;
	max-width: 350px;

	&::after {
		@include linear-gradient(top, #32485d, #009b90);
		position: absolute;
		left: 100%;
		top: 0;
		width: 10px;
		height: 100%;
		content: "";
	}

	&__inner {
		height: 100vh;
		padding: 20px 12px;
		overflow: auto;
	}

	&__header {
		display: none;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	&__logo {
		margin-left: 60px;
		text-align: center;
	}

	&__profile {
		text-align: center;

		&__avatar-container {
			display: flex;
			justify-content: center;
		}

		&__avatar {
			width: 54px;
			height: 54px;
		}

		&__nickname {
			margin-top: 16px;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
			color: $font-color-light;
		}

		&__name,
		&__position {
			font-weight: 700;
		}

		&__name {
			display: none;
			font-size: 12px;
		}

		&__position {
			display: none;
			font-size: 10px;
		}
	}

	&__breadcrumbs {
		justify-content: center;
	}

	& &__navigation {
		margin-top: 40px;

		&__item {
			.icon--live-view,
			.icon--report,
			.icon--settings {
				display: none;
			}
		}
	}

	&__body {
		&__title {
			margin-top: 12px;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
		}
	}

	&__schedule {
		margin-top: 12px;
	}

	&__details-list {
		@include list-unstyled($margin: 16px -16px 0, $padding: 16px 0 0);
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid $sidebar-body-border-color;

		&__item {
			flex-basis: 50%;
			padding: 16px;
		}
	}

	&__detail {
		text-align: center;

		&__icon {
			margin-bottom: 4px;
		}

		&__label,
		&__value {
			font-size: 12px;
		}

		&__label {
			font-weight: 700;
		}
	}

	&__report-details {
		margin-top: 12px;
	}

	&.is-active {
		background: $body-bg-color-light;

		.#{$this}__inner {
			padding: 0;
		}

		.#{$this}__header {
			display: block;
			position: relative;
			padding: 16px 42px 16px 32px;
		}

		.#{$this}__nav-btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			.fa {
				font-size: 34px;
				color: $sidebar-nav-btn-color;
			}
		}

		.#{$this}__profile {
			&__avatar {
				width: 97px;
				height: 97px;
			}

			&__nickname {
				display: none;
			}
			
			&__name,
			&__position {
				display: block;
			}
		}

		.#{$this}__navigation {
			margin-top: 0;

			&__item {
				padding-top: 60px;
				padding-bottom: 60px;

				&:not(:first-child) {
					margin-top: 0;
					border-top: 1px solid $sidebar-navigation-border-color;
				}

				.icon--live-view-white,
				.icon--report-white,
				.icon--settings-white {
					display: none;
				}

				.icon--live-view,
				.icon--report,
				.icon--settings {
					display: inline-block;
				}
			}

			&__label {
				color: $font-color;
			}
		}

		.#{$this}__body {
			margin-top: 16px;
			padding: 16px 20px;
			border-top: 1px solid $sidebar-body-border-color;
		}
	}
}

