<div *ngIf="loading">Loading.. Please wait</div>
<div *ngIf="userHasNoRoute">This user has no route for the day.</div>

<sebm-google-map *ngIf="user && userCoordinates.length && !loading"
  [(latitude)]="lat" [(longitude)]="lng" [zoom]="17" [backgroundColor]="'#333333'" [styles]="mapStyle">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [label]="{'text': marker.name, 'color': '#ffffff'}"></sebm-google-map-marker>
  <sebm-google-map-polyline [strokeColor]="'#8c1f43'" [strokeWeight]="'12'" [geodesic]="true">
    <sebm-google-map-polyline-point *ngFor="let data of snappedPoints"
      [(latitude)]="data.location.latitude" [(longitude)]="data.location.longitude">
    </sebm-google-map-polyline-point>
  </sebm-google-map-polyline>
</sebm-google-map>
