<header class="header">
  <nav class="header__navigation navigation">
    <ul class="navigation-list">
      <li class="navigation-list__item">
        <a href="#" class="navigation-list__link">Add Sales Report</a>
      </li>
      <li class="navigation-list__item">
        <a [routerLink]="['/clients']" class="navigation-list__link">Clients</a>
      </li>
      <li class="navigation-list__item">
        <a [routerLink]="['/members']" class="navigation-list__link">Members</a>
      </li>
      <li class="navigation-list__item">
        <a href="#" class="navigation-list__link">
          <img class="navigation-list__avatar avatar avatar--xsmall" src="assets/images/em.jpg" alt="Em's profile picture">
          Mary
        </a>
        <div class="sub-navigation">
          <ul class="sub-navigation-list">
            <li class="sub-navigation-list__item">
              <a href="#" class="sub-navigation-list__link">
                <i class="fa fa-gear"></i>
                Settings
              </a>
            </li>
            <li class="sub-navigation-list__item">
              <a href="#" class="sub-navigation-list__link">
                <i class="fa fa-sign-out"></i>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
