<div class="sidebar__inner">
  <div class="sidebar__header">
    <button class="sidebar__nav-btn btn btn--no-style">
      <i class="fa fa-navicon"></i>
    </button>
    <div class="sidebar__logo">
      <a [routerLink]="['/']">
        <img src="assets/images/Logo.png" alt="Geodrive Logo" class="logo">
      </a>
    </div>
  </div>
  <div class="sidebar__profile">
    <div class="sidebar__profile__avatar-container">
      <img class="sidebar__profile__avatar avatar" src="assets/images/em.jpg" alt="Profile Picture">
    </div>
    <div class="sidebar__profile__nickname">
      MN
    </div>
    <div class="sidebar__profile__name">
      Mary Nope
    </div>
    <div class="sidebar__profile__position">
      Sales Executive
    </div>
  </div>
  <div class="sidebar__body" [ngSwitch]="type">
    <sidebar-default *ngSwitchCase="sidebarTypes.default"></sidebar-default>

    <sidebar-live-view
      [individualUrl]="'/live-view/individual/'"
      [teamUrl]="'/live-view/team/'"
      *ngSwitchCase="sidebarTypes.liveView">
      </sidebar-live-view>
    <sidebar-live-view-individual *ngSwitchCase="sidebarTypes.liveViewIndividual">
    </sidebar-live-view-individual>
    <sidebar-live-view-team *ngSwitchCase="sidebarTypes.liveViewTeam"></sidebar-live-view-team>

    <sidebar-report *ngSwitchCase="sidebarTypes.report"></sidebar-report>
    <sidebar-report-graphical *ngSwitchCase="sidebarTypes.reportGraphical">
    </sidebar-report-graphical>
    <sidebar-report-graphical-individual *ngSwitchCase="sidebarTypes.reportGraphicalIndividual">
    </sidebar-report-graphical-individual>
    <sidebar-report-graphical-team *ngSwitchCase="sidebarTypes.reportGraphicalTeam">
    </sidebar-report-graphical-team>

    <sidebar-report-map *ngSwitchCase="sidebarTypes.reportMap"></sidebar-report-map>
    <sidebar-report-map-individual *ngSwitchCase="sidebarTypes.reportMapIndividual">
    </sidebar-report-map-individual>
    <sidebar-report-map-team *ngSwitchCase="sidebarTypes.reportMapTeam">
    </sidebar-report-map-team>
  </div>
</div>
