<ul class="sidebar__breadcrumbs breadcrumbs">
  <li class="breadcrumbs__item">
    <a [routerLink]="['/']" class="breadcrumbs__link">
      Dashboard
    </a>
  </li>
  <li class="breadcrumbs__item">
    <a [routerLink]="['/live-view']" class="breadcrumbs__link">
      Live View
    </a>
  </li>
  <li class="breadcrumbs__item">
    <a [routerLink]="['/live-view/individual/1']" class="breadcrumbs__link is-active">
      Melvin
    </a>
  </li>
</ul>
<div class="sidebar__schedule schedule">
  <div class="schedule__item">
    <span class="schedule__time">08:00</span>
    <span class="schedule__destination">Jollibee</span>
  </div>
  <div class="schedule__item">
    <span class="schedule__time">09:00</span>
    <span class="schedule__destination"></span>
  </div>
  <div class="schedule__item">
    <span class="schedule__time">10:00</span>
    <span class="schedule__destination"></span>
  </div>
  <div class="schedule__item">
    <span class="schedule__time">11:00</span>
    <span class="schedule__destination"></span>
  </div>
  <div class="schedule__item">
    <span class="schedule__time">12:00</span>
    <span class="schedule__destination"></span>
  </div>
  <div class="schedule__item">
    <span class="schedule__time">01:00</span>
    <span class="schedule__destination">KFC</span>
  </div>
  <div class="schedule__item">
    <span class="schedule__time">02:00</span>
    <span class="schedule__destination"></span>
  </div>
  <div class="schedule__item">
    <span class="schedule__time">03:00</span>
    <span class="schedule__destination"></span>
  </div>
  <div class="schedule__item">
    <span class="schedule__time">04:00</span>
    <span class="schedule__destination"></span>
  </div>
  <div class="schedule__item">
    <span class="schedule__time">05:00</span>
    <span class="schedule__destination">Pancake House</span>
  </div>
  <div class="schedule__item">
    <span class="schedule__time">06:00</span>
    <span class="schedule__destination"></span>
  </div>
</div>

<ul class="sidebar__details-list">
  <li class="sidebar__details-list__item">
    <div class="sidebar__detail">
      <div class="sidebar__detail__icon">
        <span class="icon icon--average-road-time"></span>
      </div>
      <div class="sidebar__detail__label">
        Average Road Time:
      </div>
      <div class="sidebar__detail__value">
        1 hour 15 minutes
      </div>
    </div>
  </li>
  <li class="sidebar__details-list__item">
    <div class="sidebar__detail">
      <div class="sidebar__detail__icon">
        <span class="icon icon--average-road-time"></span>
      </div>
      <div class="sidebar__detail__label">
        Client List:
      </div>
      <div class="sidebar__detail__value">
        <select name="" id="">
          <option value="0">Jollibee</option>
          <option value="1">Pancake House</option>
          <option value="2">KFC</option>
          <option value="3">Burger King</option>
        </select>
      </div>
    </div>
  </li>
  <li class="sidebar__details-list__item">
    <div class="sidebar__detail">
      <div class="sidebar__detail__icon">
        <span class="icon icon--total-road-time"></span>
      </div>
      <div class="sidebar__detail__label">
        Total Road Time:
      </div>
      <div class="sidebar__detail__value">
        8 hours
      </div>
    </div>
  </li>
</ul>
