<ul class="sidebar__breadcrumbs breadcrumbs">
  <li class="breadcrumbs__item">
    <a [routerLink]="['/']" class="breadcrumbs__link">
      Dashboard
    </a>
  </li>
  <li class="breadcrumbs__item">
    <a [routerLink]="['/report']" class="breadcrumbs__link">
      Report
    </a>
  </li>
  <li class="breadcrumbs__item">
    <a [routerLink]="['/report/graphical']" class="breadcrumbs__link">
      Graphical
    </a>
  </li>
  <li class="breadcrumbs__item">
    <a [routerLink]="['/report/graphical/team/1']" class="breadcrumbs__link is-active">
      Team Tyrant
    </a>
  </li>
</ul>
<div class="sidebar__report-details report-details">
  <div class="report-details__item">
    <div class="report-details__header">
      <div class="report-details__title">
        Date Range
      </div>
      <div class="report-details__input-container">
        <input type="date" class="report-details__input input">
      </div>
    </div>
    <div class="report-details__body">
      <div class="report-details__body-title">
        Time
      </div>
      <ul class="report-details__list">
        <li class="report-details__list__item">
          <input class="report-details__list__input" id="0" type="radio" name="time" value="0" checked>
          <label class="report-details__list__label" for="0">Length of Stay</label>
        </li>
        <li class="report-details__list__item">
          <input class="report-details__list__input" id="1" type="radio" name="time" value="1">
          <label class="report-details__list__label" for="1">Average Length of Stay</label>
        </li>
        <li class="report-details__list__item">
          <input class="report-details__list__input" id="2" type="radio" name="time" value="2">
          <label class="report-details__list__label" for="2"> Frequency of the visited location</label>
        </li>
        <li class="report-details__list__item">
          <input class="report-details__list__input" id="3" type="radio" name="time" value="3">
          <label class="report-details__list__label" for="3">Last Visited</label>
        </li>
        <li class="report-details__list__item">
          <input class="report-details__list__input" id="4" type="radio" name="time" value="4">
          <label class="report-details__list__label" for="4">Most Visited</label>
        </li>
        <li class="report-details__list__item">
          <input class="report-details__list__input" id="5" type="radio" name="time" value="5">
          <label class="report-details__list__label" for="5">Total Road Time</label>
        </li>
        <li class="report-details__list__item">
          <input class="report-details__list__input" id="6" type="radio" name="time" value="6">
          <label class="report-details__list__label" for="6">Average Road Time</label>
        </li>
        <li class="report-details__list__item">
          <input class="report-details__list__input" id="7" type="radio" name="time" value="7">
          <label class="report-details__list__label" for="7">Average Length of Stay for all clients in the span period given</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="report-details__item">
    <div class="report-details__header">
      <div class="report-details__title">
        Last Week
      </div>
    </div>
  </div>
  <div class="report-details__item">
    <div class="report-details__header">
      <div class="report-details__title">
        Last Month
      </div>
    </div>
  </div>
</div>
