$body-bg-color: #fcfcfc;
$body-bg-color-light: #ffffff;

$font-color-dark: #141414;
$font-color: #32485d;
$font-color-light: #ffffff;

$header-border-color: #dedede;

$navigation-font-color: $font-color;
$navigation-border-color: #dedede;

$sub-navigation-arrow-bg-color: #ffffff;
$sub-navigation-arrow-border-color: #dedede;
$sub-navigation-link-bg-color: #ffffff;
$sub-navigation-link-hover-bg-color: #f5f5f5;

$sidebar-navigation-font-color: $font-color-light;
$sidebar-navigation-border-color: #dedede;
$sidebar-body-border-color: #dedede;
$sidebar-nav-btn-color: #32485d;

$avatar-border-color: #ffffff;
$avatar--alt-border-color: #dedede;
$avatar-hover-border-color: #ed145b;

$breadcrumbs-font-color: $font-color;

$category-font-color: $font-color-light;

$individual-active-border-color: #ed145b;

$modal-bg-color: #d3dce0;
$modal-input-border-color: #2a4058;
$modal-checkbox-border-color: #2a4058;

$btn-bg-default-bg-color: #26c6da;
$btn-bg-cancel-bg-color: #e0e0e0;
$btn-bg-delete-bg-color: #ef5350;
$btn-bg-login-bg-color: #2a4058;
$btn-bg-login-hover-bg-color: #009b90;

$input-border-color: #dedede;
$input-focus-border-color: #009b90;

$main-search-border-color: #dedede;

$report-details-item-border-color: #dedede;

$simple-card-border-color: #dedede;

$members-list-add-member-bg-color: #cccccc;
$members-list-add-member-border-color: #a1a1a1;

$icon-color: #bdbdbd;
