<div class="main__breadcrumbs">

  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="dashboard.html" class="breadcrumbs__link">
        Dashboard
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a href="clients.html" class="breadcrumbs__link">
        Clients
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a href="clients-agents.html" class="breadcrumbs__link is-active">
        Agents
      </a>
    </li>
  </ul>

  <div class="main__actions">
    <div class="main__actions__item">
      <input type="text" class="main__search" placeholder="Search">
    </div>
  </div>

</div>
<div class="main__content">

  <div class="simple-card">
    <div class="simple-card__header">
      <div class="simple-card__actions">
        <div class="simple-card__actions__item">
          <button class="btn btn--no-style">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        <div class="simple-card__actions__item">
          <button class="btn btn--no-style">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="simple-card__inner">
      <div class="simple-card__client-avatar">
        <img src="assets/images/em.jpg" alt="Clients profile picture">
      </div>
      <div class="simple-card__body">
        <ul class="members-list">

          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Kentucky Fried Chicken
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Jollibee Corporation
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                McDonald's
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Pancake House
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/add']" class="members-list__add-member">
              <span class="icon icon--plus-white"></span>
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Add Client
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
