<ul class="sidebar__navigation sidebar-navigation">
  <li class="sidebar__navigation__item sidebar-navigation__item">
    <a [routerLink]="['/live-view']" class="sidebar-navigation__link">
      <span class="icon icon--live-view-white"></span>
      <span class="icon icon--live-view"></span>
      <span class="sidebar__navigation__label sidebar-navigation__label">
        Live View
      </span>
    </a>
  </li>
  <li class="sidebar__navigation__item sidebar-navigation__item">
    <a [routerLink]="['/report']" class="sidebar-navigation__link">
      <span class="icon icon--report-white"></span>
      <span class="icon icon--report"></span>
      <span class="sidebar__navigation__label sidebar-navigation__label">
        Report
      </span>
    </a>
  </li>
  <li class="sidebar__navigation__item sidebar-navigation__item">
    <a [routerLink]="['/settings']" class="sidebar-navigation__link">
      <span class="icon icon--settings-white"></span>
      <span class="icon icon--report"></span>
      <span class="sidebar__navigation__label sidebar-navigation__label">
        Settings
      </span>
    </a>
  </li>
</ul>
