<ul class="sidebar__breadcrumbs breadcrumbs">
  <li class="breadcrumbs__item">
    <a [routerLink]="['/']" class="breadcrumbs__link">
      Dashboard
    </a>
  </li>
  <li class="breadcrumbs__item">
    <a [routerLink]="['/report']" class="breadcrumbs__link">
      Report
    </a>
  </li>
  <li class="breadcrumbs__item">
    <a [routerLink]="['/report/map']" class="breadcrumbs__link is-active">
      Map
    </a>
  </li>
</ul>
<div class="sidebar__body__title">
  Individual
</div>
<ul class="individual-list">
  <li class="individual-list__item">
    <a [routerLink]="['/report/map/individual/1']" class="individual-list__link">
      <div class="individual">
        <div class="individual__avatar-container">
          <img src="assets/images/em.jpg" alt="Em's profile picture" class="individual__avatar avatar avatar--small avatar--alt">
        </div>
        <div class="individual__name">
          Melvin
        </div>
      </div>
    </a>
  </li>
</ul>
<div class="sidebar__body__title">
  Team
</div>
<ul class="team-list">
  <li class="team-list__item">
    <a [routerLink]="['/report/map/team/1']" class="team-list__link">
      <div class="team">
        <div class="team__avatar-container">
          <img src="assets/images/em.jpg" alt="Em's profile picture" class="team__avatar avatar avatar--small avatar--alt">
          <img src="assets/images/em.jpg" alt="Em's profile picture" class="team__avatar avatar avatar--small avatar--alt">
        </div>
        <div class="individual__name">
          Melvin + Melvin
        </div>
      </div>
    </a>
  </li>
</ul>
