<div class="main__breadcrumbs">

  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a [routerLink]="['/']" class="breadcrumbs__link">
        Dashboard
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a [routerLink]="['/members']" class="breadcrumbs__link">
        Members
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a [routerLink]="['/members/add']" class="breadcrumbs__link is-active">
        Add
      </a>
    </li>
  </ul>

</div>
<div class="main__content">

  <div class="simple-card">
    <div class="simple-card__inner">
      <div class="simple-card__body">
        <div class="simple-card__profile profile-upload">
          <div class="profile-upload__avatar-container">
            <div class="profile-upload__avatar"></div>
          </div>
          <div class="profile-upload__action">
            <input class="profile-upload__upload-btn" type="file">
          </div>
        </div>
        <div class="simple-card__details">
          <div class="simple-card__details__inner">
            <div class="simple-card__details__item">
              <div class="form">
                <div class="form__header">
                  <div class="form__title">
                    Name
                  </div>
                </div>
                <div class="form__body">
                  <div class="form__item">
                    <div class="form__control">
                      <input type="text" class="form__input input" placeholder="First Name">
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__control">
                      <input type="text" class="form__input input" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__control">
                      <input type="text" class="form__input input" placeholder="Position">
                    </div>
                  </div><div class="form__item">
                  <div class="form__control">
                    <select class="form__input custom-select" name="" id="">
                      <option value="0">
                        Clients
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="simple-card__details__item">
            <div class="form">
              <div class="form__header">
                <div class="form__title">
                  Settings
                </div>
              </div>
              <div class="form__body">
                <div class="form__item">
                  <div class="form__control">
                    <input type="email" class="form__input input" placeholder="Color Scheme">
                  </div>
                </div>
                <div class="form__item">
                  <div class="form__control">
                    <input type="email" class="form__input input" placeholder="Email">
                  </div>
                </div>
                <div class="form__item">
                  <div class="form__control">
                    <select class="form__input custom-select" name="" id="">
                      <option value="0">
                        Team
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form__item">
                  <div class="form__control">
                    <input type="text" class="form__input input" placeholder="Team Leader">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="simple-card__footer">
      <div class="simple-card__action">
        <div class="simple-card__action__item">
          <button class="btn">Save</button>
        </div>
        <div class="simple-card__action__item">
          <button class="btn btn--cancel" [routerLink]="['/members']">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
