<div class="main__breadcrumbs">

  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a [routerLink]="['/']" class="breadcrumbs__link">
        Dashboard
      </a>
    </li>
    <li class="breadcrumbs__item">
    <a [routerLink]="['/members']" class="breadcrumbs__link is-active">
        Members
      </a>
    </li>
  </ul>

  <div class="main__actions">
    <div class="main__actions__item">
      <button class="btn">Add New Team</button>
    </div>
    <div class="main__actions__item">
      <input type="text" class="main__search" placeholder="Search">
    </div>
  </div>

</div>
<div class="main__content">

  <div class="simple-card">
    <div class="simple-card__header">
      <div class="simple-card__title">
        Team Esther
      </div>
      <div class="simple-card__actions">
        <div class="simple-card__actions__item">
          <button class="btn btn--no-style">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        <div class="simple-card__actions__item">
          <button class="btn btn--no-style">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="simple-card__inner">
      <div class="simple-card__body">
        <ul class="members-list">

          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/add']" class="members-list__add-member">
              <span class="icon icon--plus-white"></span>
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Add Member
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="simple-card">
    <div class="simple-card__header">
      <div class="simple-card__title">
        Team Laira
      </div>
      <div class="simple-card__actions">
        <div class="simple-card__actions__item">
          <button class="btn btn--no-style">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        <div class="simple-card__actions__item">
          <button class="btn btn--no-style">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="simple-card__inner">
      <div class="simple-card__body">
        <ul class="members-list">
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a [routerLink]="['/members/edit/1']" class="members-list__link">
              <img class="members-list__avatar avatar avatar--alt" src="assets/images/em.jpg" alt="Em's profile picture">
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Melvin Nope
              </div>
              <div class="members-list__position">
                Marketing
              </div>
            </div>
          </li>
          <li class="members-list__item">
            <a href="members-add.html" class="members-list__add-member">
              <span class="icon icon--plus-white"></span>
            </a>
            <div class="members-list__details">
              <div class="members-list__name">
                Add Member
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
