<ul class="sidebar__breadcrumbs breadcrumbs">
  <li class="breadcrumbs__item">
  <a [routerLink]="['/']" class="breadcrumbs__link">
      Dashboard
    </a>
  </li>
  <li class="breadcrumbs__item">
    <a [routerLink]="['/report']" class="breadcrumbs__link is-active">
      Report
    </a>
  </li>
</ul>
<ul class="sidebar__navigation sidebar-navigation">
  <li class="sidebar__navigation__item sidebar-navigation__item">
    <a [routerLink]="['/report/graphical']" class="sidebar-navigation__link">
      <span class="icon icon--graphical"></span>
      <span class="sidebar__navigation__label sidebar-navigation__label">
        Graphical
      </span>
    </a>
  </li>
  <li class="sidebar__navigation__item sidebar-navigation__item">
    <a [routerLink]="['/report/map']" class="sidebar-navigation__link">
      <span class="icon icon--marker"></span>
      <span class="sidebar__navigation__label sidebar-navigation__label">
        Map
      </span>
    </a>
  </li>
</ul>
