<div class="wrapper">
  <sidebar class="sidebar is-active"></sidebar>
  <div class="body">
    <navigation></navigation>
    <main class="main">
      <div class="main__inner">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
